.header {
  height: 50px;
}

.header,
.playarea,
.cards {
  width: 100%;
}

.playarea {
  border-bottom: 1px solid white;
  height: calc(100dvh - 300px);
}

.cards {
  margin: 20px;
  display: flex;
}

.cards .hand {
  position: relative;
  width: 200px;
}

.cards .deck {
  position: relative;
  display: flex;
  gap: 60px;
  flex: 1 1 auto
}
