main {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.header,
.playarea,
.cards {
  width: 100%;
}

.header {
  height: 50px;
  flex: 0 0 50px;
  border-bottom: 1px solid white;
}


.playarea {
  flex: 1 1 auto;
  min-height: 0;
  border-bottom: 1px solid white;
}

.cards {
  display: flex;
  height: auto;
  flex: 0 0 250px;
  padding: 20px;
  box-sizing: border-box;
}

.cards .row {
  border: 2px solid white;
  padding: 30px 20px 20px 20px;
  border-radius: 10px;
  position: relative;
}

.cards .row::after {
  content: "ROW";
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.cards .stack {
  position: relative;
  border: 2px solid white;
  padding: 30px 40px 20px 40px;
  border-radius: 10px;
}

.cards .stack::after {
  content: "STACK";
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.cards .deck {
  display: flex;
  gap: 20px;
  flex: 1 1 auto;
}

.cards .hand {
  position: relative;
  border: 2px solid white;
  padding: 30px 40px 20px 40px;
  border-radius: 10px;
}

.cards .hand::after {
  content: "HAND";
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
