main {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.header,
.playarea,
.menu {
  width: 100%;
}

.header {
  height: 50px;
  flex: 0 0 50px;
  border-bottom: 1px solid white;
}


.playarea {
  flex: 1 1 auto;
  min-height: 0;
  border-bottom: 1px solid white;
}

.menu {
  height: auto;
}

