main {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.header,
.playarea,
.cards {
  width: 100%;
}


.header {
  height: 50px;
  flex: 0 0 50px;
  border-bottom: 1px solid white;
}


.playarea {
  flex: 1 1 auto;
  min-height: 0;
  border-bottom: 1px solid white;
}

.cards {
  margin: 20px;
  display: flex;
  height: 290px;
  flex: 0 0 250px;
  padding: 20px;
  box-sizing: border-box;
}

.cards .hand {
  width: 200px;
}

.cards .deck {
  display: flex;
  gap: 60px;
  flex: 1 1 auto
}
